# ignores files without an extension
*
!/**/
!*.*

.fuse_*
doc/
*.o
libchatty.a
README.txt
README.doxygen
chatterbox18.pdf

# tests, not removed
#DATA/
#testfile.sh
#testconf.sh
#testgroups.sh
#testleaks.sh
#teststress.sh
