# ignores files without an extension
*
!/**/
!*.*
!Makefile

.fuse_*
doc/
*.o
libchatty.a
README.txt
README.doxygen
chatterbox18.pdf

# relazione
relazione/*
!relazione/relazione.tex

# tests, not removed
#DATA/
#testfile.sh
#testconf.sh
#testgroups.sh
#testleaks.sh
#teststress.sh
