# ignores files without an extension
*
!/**/
!*.*
!Makefile

.fuse_*
doc/
*.o
libchatty.a
README.txt
README.doxygen
chatterbox18.pdf
FlavioAscari_CorsoB_chatty.tar

# relazione
relazione/*
!relazione/*.tex
!relazione/*.png

# tests, not removed
#DATA/
#testfile.sh
#testconf.sh
#testgroups.sh
#testleaks.sh
#teststress.sh
